name: PR - Run Unit Tests
on:
  pull_request:
    branches: [main]
  
jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run Jest
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - run: npm test
